.footer {
  background: #f8eefc;
  padding: 50px 80px 20px;
  margin-top: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.footer-logo {
  color: #6d28d9;
  font-size: 32px;
  margin-bottom: 10px;
}

.footer-text {
  color: #555;
  line-height: 1.6;
  max-width: 250px;
}

.footer-section h4 {
  color: #111;
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #555;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #6d28d9;
}

.footer-section p {
  color: #555;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 22px;
  color: #6d28d9;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #e5d9f2;
  padding-top: 20px;
  color: #777;
}